---
layout: handbook-page-toc
title: "Associate - Infrastructure Department Career Framework"
description: "The expected team member competencies in the Infrastructure department at GitLab for the Associate job level."
---

## On this page
{:.no_toc .hidden-md .hidden-lg}

- TOC
{:toc .hidden-md .hidden-lg}

<%= partial("handbook/engineering/career-development/matrix/engineering/engineering_career_matrix_nav.erb") %>

## Associate

<%= partial("handbook/engineering/career-development/matrix/engineering/infrastructure/associate/_infrastructure_associate_compentencies.erb") %>

## Engineering alignment
### Leadership Competencies

<%= partial("handbook/engineering/career-development/matrix/engineering/_engineering_associate_leadership_competency.erb") %>

### Technical Competencies

<%= partial("handbook/engineering/career-development/matrix/engineering/_engineering_associate_technical_competency.erb") %>

##  Values Alignment

<%= partial("handbook/engineering/career-development/matrix/engineering/values_competency.erb") %>
